#declarando os vetores da amostra estratificada
eng <- BD_Alunos[BD_Alunos$Curso=="Engenharia",]
engLic <- BD_Alunos[BD_Alunos$Curso=="Licenciatura em Computação",]
mete <- BD_Alunos[BD_Alunos$Curso=="Meteorologia",]

#tamanho dos vetores estratificados
lenEng <- round((80/294)*(length(eng$Registros)),digits = 0)
lenLic <- round((80/294)*(length(engLic$Registros)),digits = 0)
lenMete <- round((80/294)*(length(mete$Registros)),digits = 0)

#amostra estratificada
EEng <- sample(nrow(eng),lenEng)
ELic <- sample(nrow(engLic),lenLic)
EMete <- sample(nrow(mete),lenMete)

#Unir os vetores
vet <- rbind(EEng,ELic,EMete)
